.main-display-ground-blogs-home {
   display: flex;
   flex-direction: column;
   gap: 0rem;
   width: 100%;
 }

 .css-gb564i {
   margin-bottom: 1rem;
   display: block;
   width: 100%;
   overflow: hidden;
   border-radius: 0.5rem !important;
   border-width: 1px;
   --tw-bg-opacity: 1;
   background-color: rgb(241 245 249 / var(--tw-bg-opacity));
 }

 .css-bsx20a {
   margin-left: 1rem !important;
   margin-right: 1rem !important;
 }

 .css-bsx20a a{
   color: white;
   text-decoration: none;
   font-weight: 700;
   font-size: 4.5rem;
   font-family: Plus Jakarta Sans, ui-sans-serif, system-ui, -apple-system,
     BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
     sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
     "Noto Color Emoji";
 }

 .css-bsx20b{
   margin-left: 1rem !important;
   margin-right: 1rem !important;
   margin-top: 0.5rem !important;
 }

h1 a:hover{
   color:white !important;
 }

 .css-bsx20b a{
   color: rgb(161, 161, 161) !important;
   text-decoration: none;
   font-weight: 700;
   font-size: larger;
 }

 /* ---------for small version--------- */
 .css-bsx20a-small {
   margin-left: 1rem !important;
   margin-right: 1rem !important;
 }

.css-bsx20a-small a{
   color: white;
   text-decoration: none !important;
   font-weight: 800;
   text-decoration: none;
   font-size: 2.5rem;
   font-family: Plus Jakarta Sans, ui-sans-serif, system-ui, -apple-system,
     BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
     sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
     "Noto Color Emoji";
 }

 .css-bsx20b-small{
   display: none;
 }

 /* -------for too-small device--------- */
 .css-bsx20a-too-small {
   margin-left: 1rem !important;
   margin-right: 1rem !important;
 }

.css-bsx20a-too-small a{
   color: white;
   text-decoration: none !important;
   font-weight: 800;
   text-decoration: none;
   font-size: 1.8rem;
   font-family: Plus Jakarta Sans, ui-sans-serif, system-ui, -apple-system,
     BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
     sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
     "Noto Color Emoji";
 }

 .css-bsx20b-to-small{
   display: none;
 }

 .css-bsx20b-too-small{
   display: none;
 }

